h1{
    display: inline;
    float: left;
    color: white;
    font-size: 50px;
    text-align: center;
}

body{
  border-left: 60px;
  border-right: 60px;
  border-color: black;
  border-style: solid;
}

a.button {
  background-color: grey;
  border: none;
  color: white;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  padding-left: 15px;
  padding-right: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbarr{
  background-color: tomato;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0 ,0 ,0, 0.55);
  color: aqua;
  margin: 8px 22px 8px 22px;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar{
  padding: 25px 0;
  background-color: grey;
  text-align: center;
  margin: 8px 22px 8px 22px;
  overflow: hidden;
  width: 100%;
  margin: 0;
}

.navbar ul
{
   list-style: none;
}

.navbar li {
    display: inline;
    float: right;
    font-size: 50px;
    text-align: center;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  .leftimg{
    float: left;
    padding-right: 20px;
  }

  .rightimg{
    float: right;
  }

  .righttxt{
    font-size: x-large;
    font-weight: bold;

  }

  .lefttxt{
    font-size: x-large;
    font-weight: bold;
    padding-left: 150px;
  }

  .signup{
    margin: auto;
    width: 20%;
    border: 15px solid white;
    padding: 10px;
  }

  .signup p{
    font-size: large;
    font-weight: bold;
  }

  .signup ul{
    list-style: none;
  }

  .signup li{
    margin: 10px 0;
  }

  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }